---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"><img src="/assets/alertmet.png" style="width:260px"></h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>

      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <div class="col s12 m3">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h2 class="center">Speeds up development</h2>

              <p class="light">Quickly add preference management and alerting to your website by dropping in our prebuilt component and using our SaaS services.</p>
            </div>
          </div>
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">add_alert</i></h2>
            <h2 class="center">Multi-channel Alerts</h2>

            <p class="light">Provide timely alerts directly to the user's inbox or mobile device.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
            <h2 class="center">Easy User Opt-in</h2>

            <p class="light">Comply with emerging regulations such as GDPR by allowing users to subscribe to only the alerts they choose.  Alertme
              keeps an audit trail of active opt-in. </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">security</i></h2>
            <h2 class="center">Security Simply</h2>

            <p class="light">Securely stores PII like phone and email in our secure cloud database.</p>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="divider"></div>
    <div class="section">
        <h1 class="page-title">Overview</h1>
        <div class="row">
          <div class="col s6 valign-wrapper">
            <span>The Alertme subscription service consists of </span>
            <ol>
              <li>An administration website where alert topics are configured by your administrator.</li>
              <li>A UI component that is dropped into your existing application that enables your users to
                subscribe to alert topics.
              </li>
              <li>A set of backend services used to store the topics and subscriptions.</li>
            </ol>
          </div>
          <div class="col s6"><span class="flow-text"><img class="responsive-img" src="/assets/overview.PNG"></span></div>
        </div>
        <div class="row">
          <div class="col s6"><span class="flow-text"><img class="responsive-img" src="/assets/publish.PNG"></span></div>
          <div class="col s6 valign-wrapper">
            <span>After the subscription preferences are collected, then alerts can be published
              to specific alert topics, and delivered to the subscriber email, or mobile phone based on their preferences. </span>
          </div>
        </div>
    </div>
    <div style="background: #ddd">
      <div class="container last-post">
      <section>
          <h5>Latest Post</h5>
          <ul class="collection">
          {% for post in site.posts %}
          <li class="collection-item avatar">
            {% assign date_format = site.minima.date_format | default: "%m/%d" %}
            <div class="date-post">{{ post.date | date: date_format }}</div>
            <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
            <p>
              {{ post.content | truncatewords: 10 }}
            </p>
            <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
          </li>
          {% endfor %}
          </ul>
      </section>
      </div>
  </div>

</div>
